<style type="text/css">
      p.one
      {
		
        border-style:solid;
        border-width:4px;
        border-radius: 10px;
        border-color:#ccca6a;
        padding:15px;
      }
      p.two
      {
        border-style:solid;
        border-width:4px;
		 border-width:4px;
        border-radius: 10px;
        border-color:#ccca6a;
        padding:15px;
		
      }
	   p.three
      {
        border-style:solid;
        border-width:4px;
        border-radius: 10px;
        border-color:#ccca6a;
        padding:15px;
      }
	  
	  
	  
      </style>