table.jspa td {
	vertical-align: bottom;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #666666;
	padding: 10px 10px 10px 10px;
	text-align: center;
}
table.jspa img {
}

table.jspa {
}
