

CSS Positioning  22 2 13



Border and positions 


<!DOCTYPE html>
<html>
<head>
<style>
.right
{
position:absolute;
right:160px;
width:300px;
background-color:#F8F2DA;
border-radius:15px;
padding:15px;

<!--box-shadow:--> 
		 -moz-box-shadow:3px 3px 5px #999;
		-webkit-box-shadow:3px 3px 5px #999;
		box-shadow:3px 3px 5px  red;
}
</style>
</head>

<body>
<div class="right">
<p>In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.</p>
<p>'Whenever you feel like criticizing anyone,' he told me, 'just remember that all the people in this world haven't had the advantages that you've had.'</p>
</div>
</body>
</html>